
.main{
     /* background-color:skyblue;    */
    text-align:justify;
     margin-left: 25px;
    margin-right:25px; 
    font-family: fantasy;

} 

.main{

    background-image: url(../images/sky.jpg) 
    
}

  
   /* background-image: url(../images/</div>); */
  
    
  
/* rgb(226, 223, 223 */
 /* img{
    
    width:  500px;
    height: 600px;
    display: flexbox;
    
          
  } */

/* h1 styling */

/* .main{

    font-size: 50px;
    text-align: center;
    padding-top: 3%;
    display: flexbox;



} */



   p{

    font-size: 20px;
    font-weight: 200;
    


  }

  


 
