


.about{
     /* background-color:skyblue;   The font-family in here is affecting the click on the navbar. */
    /* text-align:justify; */
     margin-left: 25px;
     margin-right:25px; 
    font-family:fantasy

} 

h1{

  text-align: center;
  justify-content: center;
}

p{
  font-size: larger;
}

   /* background-image: url(../images/</div>); */
  
    
          
 
/* .main{

    font-size: 50px;
    text-align: center;
    padding-top: 3%;
    display: flexbox;


} */



   


 
