

/* .container{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6,minmax(200px, 0.5fr));
  grid-gap: 20px;
  box-sizing: border-box;
} */

 /* .card{
  background-color: rgb(1, 1, 17);
  border-radius: .5rem; 
  padding: 0.5rem; 
  margin-bottom: px; 
  box-shadow: 02px 2px black; 
  transition: .3s; 
  position: relative;
}   */
 
 /* .card{
  width: 20px; 
  height: 20px; 
 border-radius: 1rem;   
}     */

 /* .Modal{
  border-radius: 1rem; 
  border: 1px solid #000;
  background-color: whitesmoke;
  padding: 3rem;
  width: 65vw;
  max-width: 700px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  /* flex-direction: column; */
  /* align-items: center;
} */

 /* .Modal {
  width: 50%; 
  height: 20px;
}  */

 /* .Modal-details h1, h2, h3, h4{

  padding: 5px;
}  */



 /* .Modal-details p {
  padding: 5px;
}

 .Modal-details button {
  padding: 5px;
  border-radius: 5px;
} */

/* .Modal-details{
  background-color: rgb(96, 245, 96);
}   */ 

.main{

   background-color: red;
}